<h1>Books</h1>
<p>New book</p><p>Body</p>
<h4>New book</h4>
<% if @books.errors.any? %>
<%= @books.errors.count %>
<ul>
  <% @books.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<%= form_with model: @books, url: '/books', method: :post do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>本文</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
  
<% end %>
